<%= form_for @service, url: services_path, as: :service do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :redirect_uri %>
    <%= f.text_field :redirect_uri %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
