%h2= "Edit #{@service.name}"

= GovukElementsErrorsHelper.error_summary @service,
  'There were problems submitting this form', ''

= form_for @service, url: service_path(@service), as: :service do |f|
  = f.text_field :name

  = f.text_field :redirect_uri

  = f.submit 'Update', class: 'button'
