%h2
  Import records

= GovukElementsErrorsHelper.error_summary @import,
  'There were problems submitting this form', ''

= form_for @import, html: { multipart: true } do |f|
  = hidden_field_tag 'import[file]'

  .form-group
    = f.file_field :file

  = f.submit 'Import', class: "button"

%p
  = link_to 'Back', imports_url
