= GovukElementsErrorsHelper.error_summary @import,
  'There were problems submitting this form', ''

= render 'last_import', last_import: @last_import

%h2
  New import

= form_for @import, html: { multipart: true } do |f|
  .form-group
    != f.label :nomis_exports, class: 'form-label'
    != f.file_field :nomis_exports, multiple: true, class: 'form-control'

  = f.submit 'Import', class: "button"
